@font-face {
    font-family: 'merriweather_sansregular';
    src: url('merriweathersans-regular-webfont.eot');
    src: url('merriweathersans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('merriweathersans-regular-webfont.woff') format('woff'),
         url('merriweathersans-regular-webfont.ttf') format('truetype'),
         url('merriweathersans-regular-webfont.svg#merriweather_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather_sansbold';
    src: url('merriweathersans-bold-webfont.eot');
    src: url('merriweathersans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('merriweathersans-bold-webfont.woff') format('woff'),
         url('merriweathersans-bold-webfont.ttf') format('truetype'),
         url('merriweathersans-bold-webfont.svg#merriweather_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather_sansextrabold';
    src: url('merriweathersans-extrabold-webfont.eot');
    src: url('merriweathersans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('merriweathersans-extrabold-webfont.woff') format('woff'),
         url('merriweathersans-extrabold-webfont.ttf') format('truetype'),
         url('merriweathersans-extrabold-webfont.svg#merriweather_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather_sanslight';
    src: url('merriweathersans-light-webfont.eot');
    src: url('merriweathersans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('merriweathersans-light-webfont.woff') format('woff'),
         url('merriweathersans-light-webfont.ttf') format('truetype'),
         url('merriweathersans-light-webfont.svg#merriweather_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GLOBAL CSS  */ 
body{font-family: 'merriweather_sansregular', sans-serif;}
h1{font-size:30px;font-weight:100;font-family: 'merriweather_sansbold', sans-serif;}
h2{font-size:23px;}
h3{font-family: 'merriweather_sansbold', sans-serif;}
#info{width:100%;}
#quickInfo{margin-top:20px;}
table{width:100%; font-weight:200; font-family: 'Ubuntu', sans-serif;}
tr{text-align: left; min-width:50%;}
th{font-weight:200;}
tr:nth-child(odd){
	background:#ddd;
}
.imgMask{height:250px; overflow:hidden; /*padding: 0 5% 0 5%; */}
.titleImg{ width:100%;}
.ui-content{padding:0;}
.role{font-weight:bold;}
.ui-header{height:60px; padding-top:0;margin-top:-10px;
background: #787878; /* Old browsers */
background: -moz-linear-gradient(top,  #787878 0%, #595959 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#787878), color-stop(100%,#595959)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #787878 0%,#595959 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #787878 0%,#595959 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #787878 0%,#595959 100%); /* IE10+ */
background: linear-gradient(to bottom,  #787878 0%,#595959 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
}

/* ====================================================================================
* THE LIST PAGE - HEADER
==================================================================================== */

#list .settings{
	background: url(../img/btn_settings.png) no-repeat center center;
	width:20px;
	height:20px;
	padding: 13px;
	margin: 0;
	float: left;
	top: 12px;
	left: 0;
	z-index: 100;
}

#list #btnAll{
	font-size:24px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	float: left;
	width: 100%;
	top:22px;
}

.showPerLoca{
	position: absolute;
	right:10px;
	background:url(../img/location_black.png)no-repeat;
	width:29px;
	height:29px;
	top:22px;
}

.showPerLike{
	background:url(../img/heart_black.png)no-repeat;
	width:29px;
	height:29px;
	position: absolute;
	right:60px;
	top:22px;
}

.showPerLocaActive{
	width:29px;
	min-height:29px;
	padding:5px;
	position: absolute;
	right:10px;
	top:15px;
	background:#646464 url(../img/location_white.png)no-repeat center center;
	border-radius:5px;
	box-shadow:inset 2px 0px 2px rgba(65, 65, 65, .5);
	border:1px solid rgba(65, 65, 65, .7);
}

.showPerLikeActive{
	background: #646464 url(../img/coeur_active.png)no-repeat center center;
	width:29px;
	min-height:29px;
	position: absolute;
	right:60px;
	top:15px;
	padding:5px;
	border-radius:5px;
	box-shadow:inset 2px 0px 2px rgba(65, 65, 65, .5);
	border:1px solid rgba(65, 65, 65, .7);
}

/* ====================================================================================
* THE LIST PAGE - DROPDOWN
==================================================================================== */


#dropDlist{
	border-bottom:10px solid #404040;
	display:none;
	background: #fff;
	width: 100%;
	position: fixed;
}

#dropDlist ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
	#dropDlist ul li{
		height: 40px;
		padding: 0 0 0 40px;
		line-height: 40px;
		border-width: 0 12px 2px;
		-webkit-border-image:url(../img/border.png) 2 stretch;
		-o-border-image:url(../img/border.png) 2 stretch;
		border-image:url(../img/border.png) 2 stretch;
	}
	#dropDlist a {
		font-family: 'merriweather_sansregular', sans-serif;
		display: block;
		text-decoration: none; 
		margin-right: 20%;
		width: 90%;
		height: 40px;
		color:#404040;
	}
	#dropDlist a.active{
		font-weight: bold;
	}
	#dropDlist #landmark {border-right: 10px solid #71cbe9;}
	#dropDlist #city {border-right: 10px solid #ee6656;}
	#dropDlist #history {border-right: 10px solid #1a8ec4;}
	#dropDlist #edu {border-right: 10px solid #d1e779;}
	#dropDlist #railwaystation {border-right: 10px solid #ffce5c;}

/* ====================================================================================
* THE LIST PAGE
==================================================================================== */

#main-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
#main-list li{
	padding-top: 10px;
	color: #797979;
	
}
#main-list li a{
	text-decoration: none;
}

#main-list .wrapper{
	min-height: 102px;
	border-width: 0 12px 2px;
	-webkit-border-image:url(../img/border.png) 2 stretch;
	-o-border-image:url(../img/border.png) 2 stretch;
	border-image:url(../img/border.png) 2 stretch;
}

#main-list .title{
	text-transform: uppercase;
	font-family:'merriweather_sansregular', sans-serif;
	color:#404040;
	font-size:18px;
	font-weight: bold;
	float: left;
	margin-left: 10px;
	margin-top: 0;
	width: 75%;
	height: 40px;
}

#main-list img{
	display: block;
	height: 89px;
	width: 20%;
	background: #ccc;
	float: left;
}

#main-list .meta{
	float: left;
	width: 75%;
	margin: 5px;
	margin-left: 10px;
	height: 16px;
}

#main-list .meta .likes{
	float: left;
	background: url(../img/heart.png) no-repeat;
	padding-left: 25px;
	display: block;
	height: 16px;
}
#main-list .meta .new-like{
	float: left;
	background: url(../img/btn_like.png) no-repeat;
	width: 26px;
	height: 16px;
	margin-left: 20px;
	cursor: pointer;
}
#main-list .meta .distance{
	float: right;
	background: url(../img/location.png) no-repeat;
	height: 16px;
	width: 50px;
	margin-top: 0;
	margin-left: 30px;
	padding-left: 20px;
}

.landmark{border-right: 12px solid #71cbe9;}
.city{border-right: 12px solid #ee6656;}
.history{border-right: 12px solid #1a8ec4;}
.edu{border-right: 12px solid #d1e779;}
.railwaystation{border-right: 12px solid #ffce5c;}



/* ====================================================================================
* THE QUICK ARTICLE PAGE
==================================================================================== */

#info .ui-header h1 {
	font-size: 20px;
	font-family: sans-serif;
	color: #fff;
	margin: 0;
	padding-top: 22px;
	text-align: center;
}
	#info .ui-header h1 p {
		margin: -22px 0 0 0;
	}
#info .ui-header #back {
	display: block;
	height: 34px;
	width: 34px;
	background: #343434;
	margin: 17px 0 0 7px;
	padding: 0 10px;
	float: left;

	color: #fff;
	font-weight: 400;
	line-height: 34px;
	text-align: center;

	cursor: pointer;
}

#info .ui-content {
	margin-top: 20px;
	color: #404040;
}

#info .ui-content h1 {
	display: none;
}

#info .ui-content p {
	padding: 0 15px;
	font-family: sans-serif;
	line-height: 24px;
}

#info .ui-content a {
	text-decoration: none;
	color: #404040;
	cursor: text;
}

#info .ui-content h2 {
	background: #e2e2e2 url(../img/arrow_down.png) no-repeat;
	background-position: 95% 50%;
	padding: 5px 15px;
	border-bottom: 2px solid #c0c0c0;
	cursor: pointer;
	margin: 8px 0 0 0 ;
}
	#info .ui-content h2.active {
		background: #e2e2ee url(../img/arrow_up.png) no-repeat;
		background-position: 95% 50%;
	}
#info .ui-content h3 {
	background: url(../img/arrow_down.png) no-repeat;
	background-position: 97.5% 50%;
	padding: 5px 10px;
	cursor: pointer;
	margin: 8px 0;
	color: #fac64b;
	border-width: 0 12px 2px;
	-webkit-border-image:url(../img/border.png) 2 stretch;
	-o-border-image:url(../img/border.png) 2 stretch;
	border-image:url(../img/border.png) 2 stretch;
	margin: 0;
}
	#info .ui-content h3.active {
		background: url(../img/arrow_up.png) no-repeat;
		background-position: 98% 50%;
	}
#info .ui-content h4 {
	padding: 0 0 0 15px;
	margin-bottom: -5px;
}

#info .ui-content h2 ~ p, #info .ui-content h2 ~ .thumb, #info .ui-content h2 ~ ul , #info .ui-content h2 ~ h4, #info .ui-content h2 ~ div{
	display: none;
}

#info .ui-content sup{
	display: none;
}